#MyWindow {
    background-color: black;
    color: white;
    font-family: Sans;
}
label#lblTime {
    background-color: black;
    color: goldenrod;
    font-family: sans-serif;
    font-size: 448px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
label#lblDate {
    background-color: black;
    color: goldenrod;
    font-family: sans-serif;
    font-size: 96px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
